background-image: url('assets/lone-tree.jpg');
body {
  background-image: url('lone-tree.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}
